certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.9
gcm==0.3
idna==2.7
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
nltk==3.6.6
pyenchant==2.0.0
requests==2.21.0
six==1.11.0
urllib3==1.26.5
Werkzeug==2.2.3
